<!DOCTYPE html>
<html>
  <head>
    <title>demo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="nav-bar">
      <ul>
        <li>home</li>
        <li>search</li>
        <a href="/users/<%= user._id %>">
          <li>my Page</li>
        </a>
      </ul>
    </nav>
    <section>
      <form class="post-form" action="" method="post">
        <div class="user_avatar"><%= user.name[0] %></div>
        <input type="text" name="postContent" placeholder="What is happening?!"/>
        <button type="submit">Post</button>
      </form>
      <% posts.forEach(function(post, index) { %>
        <article>
          <div class="user_avatar"><%= post.author.nickname[0] %></div>
          <content><%= post.content %></content>
        </article>
      <% }); %>
    </section>
  </body>
</html>
