<!DOCTYPE html>
<html>
  <head>
    <title>로그인페이지</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>login</h1>
    <div>
      <div>ID: <input type="text" /></div>
      <br />
      <div>PW: <input type="password" /></div>
      <br />
      <button ></button>
      <a
        href="http://localhost:3000/login/kakao/callback"
        className="{style.kakao}"
      >
      카카오로 로그인
      </a>;
      <button onclick="window.location.href='/login/'">로그인</button>
      <button onclick="window.location.href='/login/'">구글로 로그인</button>
    </div>
  </body>
</html>
